<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tsf.shell.widget.cubeclock">
    <application android:allowBackup="true" android:icon="@drawable/cube_clock_icon" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".WidgetMain">
            <intent-filter>
                <action android:name="com.tsf.shell.3dwidget"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:label="colorpicker" android:launchMode="singleTask" android:name="com.larswerkman.holocolorpicker.Main" android:stateNotNeeded="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:label="colorpicker" android:launchMode="singleTask" android:name="net.margaritov.preference.colorpicker.TestActivity" android:stateNotNeeded="true" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.tsf.shell.widget.cubeclock.provider" android:exported="true" android:name="com.tsf.shell.widget.cubeclock.provider.SettingProvider"/>
        <activity android:excludeFromRecents="true" android:name="com.tsf.shell.plugin.summary.WidgetSummaryActivity" android:theme="@style/VideoTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
